/* On Navbar  */

.numberCircle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #eb1f27;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10px;
    padding-right: 2px;
    display: inline-block;
}


/* Side Menu with silde */

.image-story {
    width: 950px;
    height: 500px;
}

.side-nav .side-nav-icon {
    width: 39px;
    text-align: center;
}

.side-nav {
    position: relative;
    width: auto;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px 0px 0px 4px;
}

.side-nav-icon {
    background-color: rgb(255, 255, 255);
    height: calc(33.9375px);
    align-content: center;
    display: inline-grid
}

.side-nav-item {
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-left: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
}

.side-nav-link {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    color: rgb(68, 68, 68);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    height: 100%;
    text-decoration: none;
}


/* Product */

.w-100 {
    padding-bottom: 5px;
}

.product-image {
    width: 75px;
    height: 100px;
}

.product-link {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border: 1px solid rgb(145, 145, 145);
}

.product-content {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.product-content>.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 16px;
    padding-bottom: 5px;
    vertical-align: center;
}

.head-function>.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 16px;
    padding-bottom: 5px;
    vertical-align: center;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    background-color: rgb(255, 255, 255);
}

.product-conten>.header .title.deal {
    color: rgb(255, 61, 0);
}

.price {
    display: flex;
}

.product-conten>.header .title {
    color: rgb(51, 51, 51);
    font-size: 17px;
    margin: 0px;
}

.product-list {
    width: -webkit-fill-available;
    border-top: 1px solid rgb(225, 225, 225);
    height: auto;
}

.w-content {
    max-width: 250px;
    max-height: 500px;
    display: inline;
}

.w-row-padding,
.w-row-padding>.w-half,
.w-row-padding>.w-third,
.w-row-padding>.w-twothird,
.w-row-padding>.w-threequarter,
.w-row-padding>.w-quarter,
.w-row-padding>.w-col {
    padding: 0 8px
}

.w-section {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.w-opacity,
.w-hover-opacity:hover {
    opacity: 0.60
}

.w-opacity-off,
.w-hover-opacity-off:hover {
    opacity: 1
}

.img-mini-thumbnail {
    width: auto;
    height: auto;
    display: inline-flex;
}

.description {
    margin-left: 5%;
}


/* Search bar */

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid #444444;
    border-right: none;
    padding: 5px;
    height: auto;
    border-radius: 5px 0 0 5px;
    outline: none;
    text-align: center;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    width: 40px;
    height: auto;
    background-color: #929292;
    border: 1px solid #444444;
    text-align: center;
    border-radius: 0 5px 5px 0;
    padding-top: 5px;
    cursor: pointer;
}

.wrap {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* content */

.container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
}


/* side ads */

.LeftFloatAds {
    left: 0px;
    position: fixed;
    text-align: center;
}

.RightFloatAds {
    right: 0px;
    position: fixed;
    text-align: center;
}

.ads-img {
    width: 100px;
    height: 500px;
}